! ---------------------------------------------- ! 
! filename: ~/.Xresources 
!
! Table Of Contents 
!   1. Xft 
!   2. XTerm
!      a. general
!      b. fonts
!      c. buffer
!   3. URxvt Options
!      a. General
!      b. Colors & Interface 
!      c. Font Options
!      d. Scroll & Buffer
!   4. UI Settings
!      a. color scheme definitions
!      b. color scheme properties
! 
! URL: http://github.com/vengineX/myconf
! ---------------------------------------------- !


! --- Xft -------------------------------------- !
Xft.dpi:        96
Xft.autohint:	0
Xft.antialias:	1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
!-emd-!



! --- XTerm ------------------------------------ !
! 	> General
XTerm.termName:             	xterm-256color
XTerm.vt100.geometry:       	80x32
XTerm.vt100.loginShell:     	true
XTerm.vt100.locale:        	true
XTerm.vt100.metaSendsEscape:    true
XTerm.vt100.backarrowKey:   	false
XTerm.ttyModes:             	erase ^?
!	> Fonts
XTerm.vt100.faceName: Bront:size=11:antialias=true
XTerm.vt100.font: 7x13
Xterm.vt100.renderFont: true
!	> Buffer 
XTerm.vt100.saveLines:      	16384
XTerm.vt100.scrollBar:      	false
XTerm.vt100.scrollbar.width: 	8
XTerm.vt100.visualbell:     	true
XTerm.vt100.bellIsUrgent:   	true
!	> Triple click: Select+highlight
XTerm*charClass:            	33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
!	> Mapped Key-Combinations
XTerm.vt100.translations: 	#override \n\
    Shift <KeyPress> Insert: 	insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    	insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    	copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: 		exec-formatted("xdg-open '%t'", PRIMARY) \n\
    Ctrl <Key>M: 		maximize() \n\
    Ctrl <Key>R: 		restore() \n\
    <Btn1Up>: 			select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    Ctrl Shift <Key>C: 		copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:		insert-selection(CLIPBOARD) \n\
    Ctrl <Key> minus: 		smaller-vt-font() \n\
    Ctrl <Key> plus: 		larger-vt-font() \n\
    Ctrl <Key> 0: 		set-vt-font(d)  

!	> Visual: Color Settings: Menus
XTerm*mainMenu*backgroundPixmap: 	gradient:vertical?dimension=400&start=gray10&end=gray40

XTerm*mainMenu*foreground: white

XTerm*vtMenu*backgroundPixmap: 		gradient:vertical?dimension=550&start=gray10&end=gray40

XTerm*vtMenu*foreground: white

XTerm*fontMenu*backgroundPixmap: 	gradient:vertical?dimension=300&start=gray10&end=gray40

XTerm*fontMenu*foreground: white

XTerm*tekMenu*backgroundPixmap: 	gradient:vertical?dimension=300&start=gray10&end=gray40

XTerm*tekMenu*foreground: white 
!-XTerm: end-!



! -- URxvt ------------------------------------- !
! 	> General
URxvt.geometry:             90x30
URxvt.loginShell:           true
!	> Colors & Interface 
URxvt.internalBorder:       3
URxvt.depth:                32
URxvt*shading: 		    15
URxvt*foreground: 	    #008EFF
URxvt*background: 	    #0A0A0A
!	> Font Options
URxvt*font: 		    xft:D2Coding:style=regular:pixelsize=12
!	> Scroll & Buffer
URxvt*scrollBar: 	    true
URxvt*scrollBar_right: 	    false
URxvt*scrollstyle: 	    plain
URxvt*lineSpace:            0
! URxvt*letterSpace: 	    -1
URxvt*saveLines: 	    16384
!-URxvt: end-! 



! --- scheme name: synthwave ------------------- !
! 	> Xresources: Color-Scheme Definitions
#define Ansi_0_Color #000000
#define Ansi_1_Color #f6188f
#define Ansi_10_Color #25c141
#define Ansi_11_Color #fdf454
#define Ansi_12_Color #2f9ded
#define Ansi_13_Color #f97137
#define Ansi_14_Color #19cde6
#define Ansi_15_Color #ffffff
#define Ansi_2_Color #1ebb2b
#define Ansi_3_Color #fdf834
#define Ansi_4_Color #2186ec
#define Ansi_5_Color #f85a21
#define Ansi_6_Color #12c3e2
#define Ansi_7_Color #ffffff
#define Ansi_8_Color #000000
#define Ansi_9_Color #f841a0
#define Background_Color #000000
#define Badge_Color #f3218f
#define Bold_Color #dad9c7
#define Cursor_Color #19cde6
#define Cursor_Guide_Color #20c3e0
#define Cursor_Text_Color #dad9c7
#define Foreground_Color #dad9c7
#define Link_Color #5b2d7e
#define Selected_Text_Color #000000
#define Selection_Color #19cde6



! --- scheme name: synthwave ------------------- !
! 	> Xresources: Color-Scheme Properties
*.foreground:  #dad9c7
*.background:  #000000
*.cursorColor: #19cde6
! Black
*.color0:      #000000
*.color8:      #000000
! Red
*.color1:      #f6188f
*.color9:      #f841a0
! Green
*.color2:      #1ebb2b
*.color10:     #25c141
! Yellow
*.color3:      #fdf834
*.color11:     #fdf454
! Blue
*.color4:      #2186ec
*.color12:     #2f9ded
! Magenta
*.color5:      #f85a21
*.color13:     #f97137
! Cyan
*.color6:      #12c3e2
*.color14:     #19cde6
! White
*.color7:      #ffffff
*.color15:     #ffffff
! Text Options: Bold/Italic/Underline
*.colorBD:     #dad9c7
*.colorIT: 	#2186ec 
*.colorUL:	#ffffff










